.controls-section {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: rgb(121, 120, 120);
}

.control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin-left: 5%; */
  padding: 10px 0 5px 0;
  font-weight: bold;
}

/* TOGGLE SWITCH  */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

/* Disabled state */
input:disabled + .slider {
  background-color: #88a989; /* darker gray */
  cursor: not-allowed;
  opacity: 0.6; /* slightly faded */
}

input:disabled + .slider:before {
  background-color: #eee; /* lighter knob */
}
