.controls-section {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: rgb(121, 120, 120);
}

.control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin-left: 5%; */
  padding: 10px 0 5px 0;
  font-weight: bold;
}

/* TOGGLE SWITCH  */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

/* Disabled state */
input:disabled + .slider {
  background-color: #88a989; /* darker gray */
  cursor: not-allowed;
  opacity: 0.6; /* slightly faded */
}

input:disabled + .slider:before {
  background-color: #eee; /* lighter knob */
}

/* SLIDER  */
/* TICK SLIDER NAMESPACE */
.tick-slider-container {
  width: 300px;
  margin: 1rem 0;
}

.tick-slider-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.tick-slider {
  width: 100%;
  appearance: none;
  height: 6px;
  background: #ccc;
  border-radius: 3px;
  outline: none;
}

.tick-slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #9bb59b;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #333;
  margin-top: -7px; /* center thumb on track */
}

.tick-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #626b62;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #b3b0b0;
}

.tick-slider-ticks {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

.tick-slider-ticks span {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.tick-slider-ticks span::before {
  content: "";
  width: 2px;
  height: 8px;
  background: #333;
  margin-bottom: 2px;
}
