.plant-state-graph {
  background-color: aliceblue;
  /* width: 100%; */
  border-radius: 5px;
  border: 2px solid rgb(236, 230, 230);
  padding: 10px;
}

.plant-state-graph-title {
  width: 100%;
  /* background-color: aqua; */
  text-align: center;
  color: rgb(26, 112, 78);
}
