.notifications-section {
  font-size: 5rem;
}

.notifications-section {
  display: flex;
}

.plant {
  font-size: 5rem;
  transition: transform 0.2s;
  margin: 10px 0 50px 5%;
}
.plant:hover {
  cursor: pointer;
}

/* Jump animation */
.jump {
  animation: jump 0.6s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-15px) rotate(-10deg);
  }
  50% {
    transform: translateY(-20px) rotate(10deg);
  }
  75% {
    transform: translateY(-15px) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
