/* MENU BUTTON  */
.menu-button {
  position: absolute;
  right: 16%;
  top: 120px;
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 100;
}

.menu-button span {
  display: block;
  height: 3px;
  background: #62a57c;
  border-radius: 2px;
  transition: 0.3s;
}

.menu-button.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-button.open span:nth-child(2) {
  opacity: 0;
}

.menu-button.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* .settings-panel {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #f7f7f7;
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  padding: 1rem;
  overflow-y: auto;
  z-index: 1000;
}

.settings-panel.open {
  right: 0;
} */

.menu-button:disabled {
  color: #666666; /* Dim text color */
  cursor: not-allowed; /* Change cursor to "not allowed" icon */
  opacity: 0.7;
}

.menu-button:disabled span {
  background-color: rgb(84, 75, 75);
}
