.plant-settings-form {
  position: absolute;
  top: 95px;
  right: 14.5%;
  width: 370px;
  border-radius: 5px;
  padding: 1.5rem;
  padding-top: 0.5rem;

  background: linear-gradient(to bottom, #bacfc5 0%, #d3e4dc 100%);
  color: #355648;
  /* transition:
    transform 0.5s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.5s ease-in-out; */

  opacity: 0; /* start hidden */
  pointer-events: none; /* disable clicks when hidden */
  transition: opacity 0.2s ease-in-out; /* only fade effect */
  overflow-y: auto;
  z-index: 1000;
}
.plant-settings-form.open-form {
  opacity: 1;
  pointer-events: auto; /* allow clicks when open */
}

.close-btn-wrapper {
  /* width: 100%; */
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 30px;
  z-index: 800;
}
.close-btn {
  height: 30px;
  padding-right: 0;
  width: 30px;
  align-items: end;
  background-color: none;
  font-size: 3rem;
  /* font-weight: 500; */
  color: #ddece6;
  border: none;
  background-color: transparent;
}
.close-btn:hover {
  cursor: pointer;
}

.settings-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plant-settings-input {
  margin-top: 0.25rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.plant-settings-input-label {
  width: 40%;
  margin-top: 8px;
  font-size: 1.3rem;
  font-weight: 500;
}

/* FORM STYLING  */
/* Form fields styling */
.plant-settings-form input,
.plant-settings-form select {
  width: 100%;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  background-color: #d9e8e1; /* dark blue */
  border: 1px solid #b5c1bc;
  border-radius: 6px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

/* Focus state */
.plant-settings-form input:focus,
.plant-settings-form select:focus {
  border-color: #86a992; /* greenish highlight */
  box-shadow: 0 0 5px #82878444;
}

/* Hover state */
.plant-settings-form input:hover,
.plant-settings-form select:hover {
  border-color: #86a992;
}

.plant-settings-form select,
.name-input {
  color: #226547;
  background-color: #e2eee9;
}

/* Options dropdown */
.plant-settings-form select option {
  background-color: #bccbc5;
}

/* Placeholder text for input */
.plant-settings-form input::placeholder {
  /* color: #b0b8c1; */
  color: rgb(145, 133, 133);
}

/* Submit button */
.plant-settings-form button[type="submit"] {
  color: #f5f8f5;
  background-color: #6c986e;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.plant-settings-form button[type="submit"]:hover {
  background-color: #9baa9b;
  /* color: #68de6c; */
}
