.plant-section {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rebeccapurple; */
}

.plant {
  width: 90%;
  font-size: 12rem;
  transition: transform 0.2s;
  /* margin: 10px 0 50px 5%; */
  /* background-color: aqua; */
  text-align: center;
  padding-left: 5%;
}

.plant-greetings {
  /* padding: 5%; */
  width: 90%;
  /* background-color: rgb(239, 122, 226); */
  font-size: 2rem;
  font-weight: 600;
  max-height: 300px;

  color: rgb(28, 152, 77);

  text-align: center;
  /* white-space: normal; */
  /* word-wrap: break-word; */
  /* overflow-wrap: break-word; */
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .plant-section {
    display: flex;
    flex-direction: row;
    height: 300px;
  }
  .plant {
    width: 45%;
    padding-right: 5%;
    text-align: right;
  }

  .plant-greetings {
    /* padding-top: 5%; */
    /* width: 40%; */
    font-size: 3rem;
    font-weight: 400;
    align-items: center;
    /* background-color: yellowgreen; */
  }
}

/* Jump animation */
.jump {
  animation: jump 0.6s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-15px) rotate(-10deg);
  }
  50% {
    transform: translateY(-20px) rotate(10deg);
  }
  75% {
    transform: translateY(-15px) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
