.plant-section {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rebeccapurple; */
}

.plant-background {
  width: 50%;
  /* height: 90%; */
  border-radius: 8px;
  margin: 80px;
}

.plant-background-good-night {
  background-color: rgb(26, 26, 81);
}

.plant {
  font-size: 10rem;
  transition: transform 0.2s;
  /* margin: 10px 0 50px 5%; */
  text-align: center;
  padding: 5% 0 3% 0;

  animation: bob 4s ease-in-out infinite;
}

/* Jump animation */
.jump {
  animation: jump 0.6s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-15px) rotate(-10deg);
  }
  50% {
    transform: translateY(-20px) rotate(10deg);
  }
  75% {
    transform: translateY(-15px) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes bob {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-2px) rotate(1deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  75% {
    transform: translateY(2px) rotate(1deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.good-night {
  position: relative;
  font-size: 2rem;
  top: 5rem;
  left: 4rem;
  /* background-color: blue; */
}
