.plant-section {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rebeccapurple; */
}

.plant-background {
  width: 90%;
  border-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* min-height: 400px; */

  /* margin: 80px; */
  /* background-color: rgb(26, 26, 81); */
  position: relative;
  transition:
    opacity 0.6s ease,
    filter 0.6s ease;
}

.dark {
  background-color: rgb(26, 26, 81);
  /* background-color: rgb(37, 37, 80); */
  /* background-image: url("src/assets/dark-background.jpeg"); */
}

.bright {
  /* background-color: rgb(194, 253, 44); */
  background-image: url("src/assets/bright-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ambient {
  background-image: url("src/assets/ambient-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.plant {
  font-size: 10rem;
  transition: transform 0.2s;
  /* margin: 10px 0 50px 5%; */
  text-align: center;
  padding: 8% 0 8% 0;

  animation: bob 4s ease-in-out infinite;
  position: relative;
}

/* Jump animation */
.jump {
  animation: jump 0.6s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-15px) rotate(-10deg);
  }
  50% {
    transform: translateY(-20px) rotate(10deg);
  }
  75% {
    transform: translateY(-15px) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes bob {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-2px) rotate(1deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  75% {
    transform: translateY(2px) rotate(1deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.moon {
  position: absolute;
  width: 90px;
  height: 90px;
  font-size: 3rem;
  top: 5rem;
  left: 70%;
  transform: translateX(0px); /* move next to plant */
  pointer-events: none;

  background-image: url("src/assets/moon.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.sunglasses {
  position: absolute;
  /* font-size: 12rem; */
  /* top: 190px; */
  width: 100px;
  height: 150px;
  top: 17%;
  left: 38%;
  /* transform: translateX(45%); */
  pointer-events: none;
  z-index: 10;
  /* animation: bob 4s ease-in-out infinite; */
  background-image: url("src/assets/sunglasses.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .sunglasses {
    top: 26%;
    left: 42%;
  }
}

@media screen and (min-width: 1600px) {
  .sunglasses {
    width: 200px;
    height: 180px;
    top: 30%;
    left: 42%;
  }
}

.plant-monstera {
  height: 10rem;
  margin-top: 3%;
  margin-left: 0%;
  margin-bottom: 2%;

  background-image: url("src/assets/monstera.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.watercan {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 20%;
  background-image: url("src/assets/watercan.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  animation: wobble 2s ease-in-out infinite;
  /* transform: rotate(20deg);  */
  transform-origin: center; /* rotate around the center of the image */
}

@keyframes wobble {
  0% {
    transform: rotate(25deg);
  }
  25% {
    transform: rotate(23deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(23deg);
  }
  100% {
    transform: rotate(25deg);
  }
}
