.plant-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rebeccapurple; */
}

.plant {
  width: 100%;
  font-size: 12rem;
  transition: transform 0.2s;
  /* margin: 10px 0 50px 5%; */
  /* background-color: aqua; */
  text-align: center;
  padding: 5%;
}

/* @media screen and (min-width: 768px) {
  .plant-section {
    display: flex;
    flex-direction: row;
    height: 300px;
  }
  .plant {
    width: 45%;
    padding-right: 5%;
  }
  .sassy {
    font-size: 1.2rem;
  }
} */

/* Jump animation */
.jump {
  animation: jump 0.6s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-15px) rotate(-10deg);
  }
  50% {
    transform: translateY(-20px) rotate(10deg);
  }
  75% {
    transform: translateY(-15px) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
