.plant-section {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rebeccapurple; */
}

.plant-background {
  width: 90%;
  border-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  min-height: 450px;

  /* margin: 80px; */
  /* background-color: rgb(26, 26, 81); */
  position: relative;
  transition:
    opacity 0.6s ease,
    filter 0.6s ease;
}

.dark {
  background-color: rgb(26, 26, 81);
  background-image: none;
}

.bright {
  /* background-color: rgb(194, 253, 44); */
  background-image: url("src/assets/bright-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ambient {
  background-image: url("src/assets/ambient-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.plant {
  font-size: 10rem;
  transition: transform 0.2s;
  /* margin: 10px 0 50px 5%; */
  text-align: center;
  padding: 8% 0 3% 0;

  animation: bob 4s ease-in-out infinite;
}

/* Jump animation */
.jump {
  animation: jump 0.6s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-15px) rotate(-10deg);
  }
  50% {
    transform: translateY(-20px) rotate(10deg);
  }
  75% {
    transform: translateY(-15px) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes bob {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-2px) rotate(1deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  75% {
    transform: translateY(2px) rotate(1deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.moon {
  position: absolute;
  font-size: 3rem;
  top: 5rem;
  left: 65%;
  transform: translateX(0px); /* move next to plant */
  pointer-events: none;
}

.sunglasses {
  position: absolute;
  font-size: 4rem;
  top: 142px;
  left: 47.5%;
  /* transform: translateX(50%); */
  pointer-events: none;
  z-index: 10;
  /* animation: bob 4s ease-in-out infinite; */
}
