.plant-section {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  /* background-color: rebeccapurple; */
}

.plant {
  width: 40%;
  font-size: 12rem;
  transition: transform 0.2s;
  /* margin: 10px 0 50px 5%; */
  /* background-color: aqua; */
  text-align: right;
  padding-right: 5%;
}

.plant-greetings {
  padding: 5%;
  width: 45%;
  font-size: 6rem;
  color: rgb(28, 152, 77);
  /* background-color: chartreuse; */
}
/* .plant:hover {
  cursor: pointer;
} */

/* Jump animation */
.jump {
  animation: jump 0.6s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-15px) rotate(-10deg);
  }
  50% {
    transform: translateY(-20px) rotate(10deg);
  }
  75% {
    transform: translateY(-15px) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
