.charts-dashboard {
  width: 100%;
}

.charts {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .charts {
    width: 100%;
    flex-direction: row-reverse;
  }
}

.mic-button {
  margin: 10px 0 30px 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;

  /* background-color: rgb(32, 144, 95) */
  /* Radial gradient: green center, white edges */
  background: radial-gradient(circle, rgb(72, 122, 101) 0%, white 100%);

  /* Gentle bounce */
  animation: gentle-bounce 2s ease-in-out infinite;
  transition:
    background 0.3s,
    transform 0.3s;
}

/* Idle gentle bounce keyframes */
@keyframes gentle-bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Pulsing animation when talking */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.talking {
  background-color: red;
  animation: pulse 1s ease-in-out infinite;
}
