.charts-dashboard {
  width: 100%;
}

.charts {
  width: 90%;
  margin-left: 5%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1600px) {
  .charts {
    width: 90%;
    /* margin-left: 5%; */
    padding-bottom: 2%;
    flex-direction: row;
    gap: 1%;
    /* background-color: rgb(37, 86, 69); */
  }
}
