.charts-dashboard {
  width: 100%;
}

.charts {
  width: 100%;
  gap: 2%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .charts {
    width: 100%;
    flex-direction: row-reverse;
  }
}
