.sassy-text {
  width: 80%;
  font-size: 1.2rem;
  font-weight: 500;
  /* max-height: 300px; */
  padding: 10%;
  color: #0c5c3d;
  /* color: rgb(248, 250, 248); */

  /* border: 2px solid rgb(171, 207, 171); */
  border-radius: 10px;
  /* background-color: yellow; */
  /* overflow: hidden;   */
  background: linear-gradient(
    to bottom,
    rgba(237, 245, 239, 0.8) 50%,
    rgb(140, 171, 150, 0.8) 99% /* rgba(237, 245, 239, 0.8) 80% */
  );
  /* background-color: rgb(140, 171, 150); */
}

@media screen and (min-width: 1600px) {
  .sassy-text {
    font-size: 1.3rem;
    width: 45.5%;
    padding: 2% 5%;
  }
}

.sassy-text-title {
  width: 100%;
  margin-top: 2%;
  text-align: center;
  /* color: rgb(70, 122, 70); */
  font-size: 1.5rem;
  font-weight: 600;
}

.sassy-text-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.sassy-text-detail {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.sassy-text-detail-title {
  width: 15%;
}

/* .sassy-text-text {
  height: 0px;
}

@media screen and (min-width: 1600px) {
  .sassy-text-text {
    height: 150px;
  }
} */

.mic-button-wrapper {
  width: 100%;
  margin-top: 5%;
  text-align: center;
}
.mic-button {
  /* position: relative; */
  /* margin: 10px 0 30px 100px; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;

  background: radial-gradient(circle, rgb(127, 228, 18) 0%, white 100%);

  /* Gentle bounce */
  animation: gentle-bounce 3s ease-in-out infinite;
  transition:
    background 0.3s,
    transform 0.3s;
}

/* Idle gentle bounce keyframes */
@keyframes gentle-bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Pulsing animation when talking */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.listening {
  background: radial-gradient(circle, rgb(248, 247, 248) 0%, white 100%);
  animation: pulse 1s ease-in-out infinite;
}

.plant-talking {
  background: radial-gradient(
    circle,
    rgb(246, 244, 246) 50%,
    rgb(133, 132, 133) 100%
  );
  animation: none;
  cursor: not-allowed;
}
