.sensors-chart-graphs {
  /* background-color: rgb(24, 68, 107); */
  width: 100%;
  /* height: 600px; */
  /* margin-top: 10px; */
  /* margin-left: 5%; */
  /* border: 2px solid rgb(171, 207, 171); */
  /* background: linear-gradient(
    to bottom,
    rgba(237, 245, 239, 0.8) 90%,
    rgba(108, 248, 159, 0.4) 80%,
    rgba(108, 248, 159, 0.8) 50%
  ); */
  border-radius: 10px;
  background-color: rgb(87, 126, 100);
}

.sensors-chart {
  background-color: white;
  margin-left: 5%;
  margin-bottom: 5%;
  padding: 70px;
  border: none;
  border-radius: 10px;
}

.sensors-chart-title {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(248, 250, 248);
  font-size: 1.5rem;
  font-weight: 600;
}
.sensors-chart {
  padding: 10px 0;
}

@media screen and (min-width: 1600px) {
  .sensors-chart-graphs {
    /* width: 47.5%; */
    margin-left: 0;
  }
}

/* these guys are added automatically */
/* SensorsChart.css */

/* Entire legend container */
.recharts-legend-wrapper {
  /* font-family: "Inter", sans-serif; */
  /* top: 2rem; */
  font-size: 1.2rem;
  font-weight: 600;
  color: #9ec3b3;
  /* move it down/right a bit */
  bottom: 0px; /* increases distance from bottom */
}

/* Each legend item */
.recharts-legend-item {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Legend symbol (color box) */
.recharts-legend-item .recharts-legend-icon {
  width: 14px;
  height: 14px;
  border-radius: 3px; /* optional rounded squares */
  margin-right: 6px;
}

/* Optional: hover effect on legend items */
/* .recharts-legend-item:hover {
  opacity: 0.7;
  cursor: pointer;
} */
