.sensors-chart-graphs {
  /* background-color: rgb(24, 68, 107); */
  width: 90%;
  /* margin-top: 10px; */
  margin-left: 5%;
  border-radius: 5px;
  border: 2px solid rgb(146, 173, 159);
  border-radius: 10px;
}

.sensors-chart-title {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(26, 112, 78);
  font-size: 1.3rem;
  font-weight: 600;
}
.sensors-chart {
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .sensors-chart-graphs {
    width: 40%;
    margin-left: 0;
  }
}
