#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  /* padding: 2rem; */
  /* text-align: center; */
}

.app {
  margin: 0;
  padding: 0;
  /* width: 80%; */
  /* margin-left: 10%; */
  /* background-color: rgb(207, 198, 216); */
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 15px 0 5px 0;
  color: rgb(33, 224, 154);
  font-weight: 600;
}

.dashboard {
  width: 80%;
  /* background-color: rgb(200, 219, 208); */
  margin-top: 20px;
  margin-left: 10%;
  padding: 0;
  margin-bottom: 0;
  border-radius: 10px;
}

.footer {
  /* position: fixed; */
  /* margin-top: 5px; */
  /* margin-left: 10%; */
  margin-right: 14%;
  margin-bottom: 10px;
  font-size: 1rem;
  color: aliceblue;
  text-align: right;
}
